In [1]:
import duckdb
conn = duckdb.connect()
import os
import pandas as pd

In [2]:
#archivo ventas

drive_base_path = 'datan/'
filename = 'sell-in.txt'
filepath = os.path.join(drive_base_path, filename)
sell = pd.read_csv(filepath, sep='\t')

In [3]:
resultado_producto=sell.groupby(['periodo','product_id'])['tn'].sum().reset_index()

In [4]:
resultado_producto

       periodo  product_id          tn
0       201701       20001   934.77222
1       201701       20002   550.15707
2       201701       20003  1063.45835
3       201701       20004   555.91614
4       201701       20005   494.27011
...        ...         ...         ...
31238   201912       21265     0.05007
31239   201912       21266     0.05121
31240   201912       21267     0.01569
31241   201912       21271     0.00298
31242   201912       21276     0.00892

[31243 rows x 3 columns]

In [5]:
query = """
-- Transformación completa: campo clase, media móvil y lags
WITH base_with_clase AS (
    -- Primero creamos el campo clase (tn en periodo+2)
    SELECT 
        r1.periodo,
        r1.product_id,
        r1.tn,
        r2.tn AS clase
    FROM resultado_producto r1
    LEFT JOIN resultado_producto r2 
        ON r1.product_id = r2.product_id 
        AND r2.periodo = (
            CASE 
                WHEN r1.periodo % 100 = 11 THEN (r1.periodo + 90) -- Nov -> Ene siguiente año
                WHEN r1.periodo % 100 = 12 THEN (r1.periodo + 90) -- Dic -> Feb siguiente año  
                ELSE r1.periodo + 2 -- Resto de meses
            END
        )
),

-- Función para calcular el periodo anterior correctamente
periodo_anterior AS (
    SELECT *,
        CASE 
            WHEN periodo % 100 = 1 THEN periodo - 89  -- Ene -> Dic año anterior
            ELSE periodo - 1                          -- Resto de meses
        END AS periodo_prev
    FROM base_with_clase
),

-- Creamos los lags y la media móvil
final_result AS (
    SELECT 
        p.periodo,
        p.product_id,
        p.tn,
        p.clase,
        
        -- Lags del 1 al 11 (usando LAG window function)
        LAG(p.tn, 1) OVER (PARTITION BY p.product_id ORDER BY p.periodo) AS tn_1,
        LAG(p.tn, 2) OVER (PARTITION BY p.product_id ORDER BY p.periodo) AS tn_2,
        LAG(p.tn, 3) OVER (PARTITION BY p.product_id ORDER BY p.periodo) AS tn_3,
        LAG(p.tn, 4) OVER (PARTITION BY p.product_id ORDER BY p.periodo) AS tn_4,
        LAG(p.tn, 5) OVER (PARTITION BY p.product_id ORDER BY p.periodo) AS tn_5,
        LAG(p.tn, 6) OVER (PARTITION BY p.product_id ORDER BY p.periodo) AS tn_6,
        LAG(p.tn, 7) OVER (PARTITION BY p.product_id ORDER BY p.periodo) AS tn_7,
        LAG(p.tn, 8) OVER (PARTITION BY p.product_id ORDER BY p.periodo) AS tn_8,
        LAG(p.tn, 9) OVER (PARTITION BY p.product_id ORDER BY p.periodo) AS tn_9,
        LAG(p.tn, 10) OVER (PARTITION BY p.product_id ORDER BY p.periodo) AS tn_10,
        LAG(p.tn, 11) OVER (PARTITION BY p.product_id ORDER BY p.periodo) AS tn_11,
        
        -- Media móvil de los últimos 12 meses (incluyendo el actual)
        -- Solo calcula cuando hay al menos 1 valor no nulo
        CASE 
            WHEN COUNT(p.tn) OVER (
                PARTITION BY p.product_id 
                ORDER BY p.periodo 
                ROWS BETWEEN 11 PRECEDING AND CURRENT ROW
            ) > 0
            THEN AVG(p.tn) OVER (
                PARTITION BY p.product_id 
                ORDER BY p.periodo 
                ROWS BETWEEN 11 PRECEDING AND CURRENT ROW
            )
            ELSE NULL
        END AS media_movil_12m,
        
        -- Cantidad de meses con datos para la media móvil
        COUNT(p.tn) OVER (
            PARTITION BY p.product_id 
            ORDER BY p.periodo 
            ROWS BETWEEN 11 PRECEDING AND CURRENT ROW
        ) AS meses_con_datos
        
    FROM periodo_anterior p
)

SELECT 
    periodo,
    product_id,
    tn,
    clase,
    tn_1, tn_2, tn_3, tn_4, tn_5, tn_6, 
    tn_7, tn_8, tn_9, tn_10, tn_11,
    media_movil_12m,
    meses_con_datos
FROM final_result
ORDER BY periodo, product_id;

"""

In [6]:
duckdb.register('resultado_producto', resultado_producto)
resultado_prod = duckdb.query(query).to_df()

In [7]:
conn.close()

In [12]:
query = """
SELECT * 
FROM productos 
WHERE productos.periodo = 201812
  AND productos.product_id IN (20002, 20003, 20006, 20010, 20011, 20018, 20019, 20021,
                               20026, 20028, 20035, 20039, 20042, 20044, 20045, 20046, 20049,
                               20051, 20052, 20053, 20055, 20008, 20001, 20017, 20086, 20180,
                               20193, 20320, 20532, 20612, 20637, 20807, 20838)
ORDER BY productos.product_id;
"""

vamos a interntar predecir diciembre 19 por eso cambiamos original 201812

In [13]:
duckdb.register('productos', resultado_prod)
resultado_prod2 = duckdb.query(query).to_df()

In [14]:
df_clean = resultado_prod2.drop(['periodo', 'product_id','media_movil_12m','meses_con_datos'], axis=1)

In [15]:
df_clean

,tn,clase,tn_1,tn_2,tn_3,tn_4,tn_5,tn_6,tn_7,tn_8,tn_9,tn_10,tn_11
0,1486.68669,1259.09363,1813.01511,2295.19832,1438.67455,1800.96168,1470.41009,1150.79169,1293.89788,1251.28462,1856.83534,1043.76470,1169.07532
1,1009.45458,1043.01349,1766.81068,1378.49032,954.23575,1161.88430,977.40239,1033.82845,1103.39191,999.20934,966.86044,712.00087,984.80167
2,769.82869,758.32657,1206.91773,1313.34211,912.34156,955.97079,656.22700,660.73323,784.35885,765.47838,778.55594,788.30749,907.56304
3,407.75925,479.99914,566.66809,513.15472,478.04388,615.70617,515.20419,468.15260,865.28861,748.44391,862.19361,588.56272,470.33785
4,426.32899,476.98787,433.50170,532.45644,436.96269,554.82147,526.38149,554.57063,707.59267,691.53246,765.98901,506.25385,469.29224
5,285.02947,337.76009,414.97753,612.50721,480.60235,582.83104,331.96807,223.87746,227.24082,171.74107,653.77607,477.48363,298.25586
6,321.09714,431.62938,289.13976,177.75576,189.59850,191.07270,300.26178,437.75550,484.04538,562.70214,526.99374,601.26066,340.75314
7,259.32724,308.71060,286.83676,331.23254,288.35292,374.95908,351.60065,316.45841,533.53335,550.29417,488.79258,377.84497,291.70926
8,326.01506,265.84135,371.52958,161.58557,282.43485,375.61778,325.03223,420.33781,388.43687,543.06908,510.33171,337.54792,342.16945
9,446.69747,323.66178,532.98143,552.71975,417.95455,387.73155,351.05610,262.33076,356.42982,290.39581,321.26878,629.89543,243.71984
10,228.25426,219.88515,313.67485,404.85250,391.53891,259.45932,332.17776,447.59775,153.29935,94.17409,405.95330,234.06376,253.48383
11,223.97681,263.67957,307.11434,328.17556,397.81420,352.77241,330.87172,317.87268,378.08331,317.66739,203.14786,197.61244,250.81615
12,225.29052,277.49358,220.27824,272.74338,287.25606,254.62710,182.22750,220.42566,223.70166,186.19146,299.81952,184.68450,156.13416
13,127.34478,147.80444,195.05746,217.66627,204.89424,223.59798,209.67279,247.33370,241.62909,168.29912,221.11695,158.43616,130.83913
14,117.83996,156.62559,116.76976,129.53524,141.58215,196.22150,180.75004,221.95121,179.19066,157.31354,214.39891,220.80457,217.93044
15,138.04688,107.68438,129.33416,197.65553,164.14519,151.22889,125.65523,142.27372,176.43670,143.19620,212.65837,150.73644,123.90153
16,86.97595,173.56001,151.56393,211.60850,119.75997,102.11851,159.03358,211.02734,94.84460,158.47360,286.55018,164.24915,133.95034
17,167.69923,148.11630,226.01783,204.17718,215.02111,177.77336,208.59432,278.55873,273.60192,169.54439,175.88153,168.81300,112.00165
18,124.24180,157.39975,232.61768,208.86783,152.83512,136.85278,123.34703,89.42423,130.62180,128.88423,138.51916,195.55015,144.34792
19,201.38664,155.36976,303.43404,212.23020,218.98968,350.45556,285.20856,257.71189,237.61920,213.76096,315.28474,238.58781,82.27553
20,133.12208,133.21935,164.93825,152.49385,190.30369,227.38468,196.37743,285.61148,259.41005,246.12258,291.39752,2.78841,108.09601
21,150.80694,84.48314,108.80949,162.13531,166.53044,155.73576,136.62230,157.34847,230.18524,184.12781,299.45037,202.51442,192.32743
22,133.38951,144.51834,148.13390,128.16512,127.57764,139.33043,169.79749,108.37985,185.15978,166.37158,197.49354,163.23312,103.58309
23,97.53311,130.68292,100.24563,167.89170,124.97289,187.17430,149.26769,177.23813,236.60910,169.74907,234.64708,99.29670,162.49807
24,44.56395,58.26781,56.54162,64.24909,65.58166,116.58118,78.21037,100.80284,123.01671,121.18451,124.90953,55.98136,66.70213
25,39.27859,30.57289,28.79594,35.89656,33.82756,48.63834,40.19261,62.32540,60.10465,6.21856,56.00428,35.37590,36.85369
26,30.26053,31.87034,34.39907,18.05050,29.40778,34.10513,31.69037,51.74020,33.55728,33.55726,79.07113,22.20001,35.15625
27,14.55626,15.73572,15.64425,25.17276,12.59364,17.88705,9.97609,13.73058,18.38608,14.31054,23.57342,18.04703,14.81667
28,5.89124,6.87043,6.30858,5.83503,4.52676,8.37937,5.62638,6.07581,7.41620,7.08716,12.24797,9.29433,10.03272
29,2.80400,4.30324,3.25956,4.23688,3.83447,3.92728,3.77255,4.89148,4.59071,4.65267,5.49298,3.83887,4.19274
30,4.92167,4.66338,4.28775,4.73217,4.81740,3.98088,4.78519,3.26566,5.63963,6.40351,6.66175,5.58230,4.89165
31,1.90008,2.36726,1.86118,1.68606,1.96850,1.29391,1.57927,2.01622,2.20976,2.47203,2.98221,2.46268,2.23571
32,1.77912,2.53850,1.31736,1.65822,1.88932,1.07678,1.30600,1.63030,2.32259,3.11423,3.36763,2.64368,4.41898

In [16]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import numpy as np

# ========================================
# PASO 1: CARGAR DATASET DE ENTRENAMIENTO
# ========================================

# Cargar el dataset de entrenamiento (33 registros estratégicos de 201812)
df_train = df_clean  # Ajustar ruta según corresponda

print("Dataset de Entrenamiento:")
print(f"Filas: {len(df_train)}")
print(f"Columnas: {list(df_train.columns)}")
print("\nPrimeros registros:")
print(df_train.head())

# ========================================
# PASO 2: PREPARAR VARIABLES
# ========================================

# Variables independientes (features): 12 campos de toneladas
X = df_train[['tn', 'tn_1', 'tn_2', 'tn_3', 'tn_4', 'tn_5', 'tn_6', 
              'tn_7', 'tn_8', 'tn_9', 'tn_10', 'tn_11']]

# Variable dependiente (target): toneladas del mes+2 (201902)
y = df_train['clase']

print(f"\nVariables independientes (X): {X.shape}")
print(f"Variable dependiente (y): {y.shape}")

# Verificar que no hay valores nulos
print(f"\nValores nulos en X: {X.isnull().sum().sum()}")
print(f"Valores nulos en y: {y.isnull().sum()}")

# ========================================
# PASO 3: ENTRENAR REGRESIÓN LINEAL SIMPLE
# ========================================

modelo = LinearRegression()

# Entrenar el modelo
modelo.fit(X, y)

print("\n" + "="*50)
print("MODELO ENTRENADO EXITOSAMENTE")
print("="*50)

# ========================================
# PASO 4: EVALUAR EL MODELO
# ========================================

# Hacer predicciones en el mismo conjunto de entrenamiento
y_pred = modelo.predict(X)

# Calcular métricas
mse = mean_squared_error(y, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y, y_pred)
r2 = r2_score(y, y_pred)

print(f"\nMÉTRICAS DEL MODELO:")
print(f"R² Score: {r2:.4f}")
print(f"MSE: {mse:.4f}")
print(f"RMSE: {rmse:.4f}")
print(f"MAE: {mae:.4f}")

# ========================================
# PASO 5: COEFICIENTES DEL MODELO
# ========================================

print(f"\nCOEFICIENTES DE LA REGRESIÓN:")
print(f"Intercepto: {modelo.intercept_:.4f}")

# Mostrar coeficientes para cada variable
coeficientes = pd.DataFrame({
    'Variable': X.columns,
    'Coeficiente': modelo.coef_
})
coeficientes['Abs_Coeficiente'] = np.abs(coeficientes['Coeficiente'])
coeficientes = coeficientes.sort_values('Abs_Coeficiente', ascending=False)

print("\nCoeficientes ordenados por importancia:")
for _, row in coeficientes.iterrows():
    print(f"{row['Variable']:>6}: {row['Coeficiente']:>10.4f}")

# ========================================
# PASO 6: ECUACIÓN DE LA REGRESIÓN
# ========================================

print(f"\nECUACIÓN DE LA REGRESIÓN:")
ecuacion = f"clase = {modelo.intercept_:.4f}"
for i, coef in enumerate(modelo.coef_):
    variable = X.columns[i]
    signo = "+" if coef >= 0 else ""
    ecuacion += f" {signo}{coef:.4f}*{variable}"

print(ecuacion)

# ========================================
# PASO 7: ANÁLISIS DE RESIDUOS
# ========================================

residuos = y - y_pred
print(f"\nANÁLISIS DE RESIDUOS:")
print(f"Media de residuos: {np.mean(residuos):.6f}")
print(f"Std de residuos: {np.std(residuos):.4f}")
print(f"Min residuo: {np.min(residuos):.4f}")
print(f"Max residuo: {np.max(residuos):.4f}")

# ========================================
# PASO 8: GUARDAR MODELO Y RESULTADOS
# ========================================

# Crear DataFrame con resultados
resultados = pd.DataFrame({
    'Real': y,
    'Prediccion': y_pred,
    'Residuo': residuos,
    'Residuo_Abs': np.abs(residuos)
})

print(f"\nRESULTADOS DETALLADOS:")
print(resultados.round(4))

# Guardar resultados
resultados.to_csv('resultados_entrenamiento.csv', index=False)
coeficientes.to_csv('coeficientes_modelo.csv', index=False)

print(f"\n✅ ENTRENAMIENTO COMPLETADO")
print(f"✅ Archivos guardados: resultados_entrenamiento.csv, coeficientes_modelo.csv")
print(f"\nEl modelo está listo para hacer predicciones con nuevos datos.")

Dataset de Entrenamiento:
Filas: 33
Columnas: ['tn', 'clase', 'tn_1', 'tn_2', 'tn_3', 'tn_4', 'tn_5', 'tn_6', 'tn_7', 'tn_8', 'tn_9', 'tn_10', 'tn_11']

Primeros registros:
           tn       clase        tn_1        tn_2        tn_3        tn_4  \
0  1486.68669  1259.09363  1813.01511  2295.19832  1438.67455  1800.96168
1  1009.45458  1043.01349  1766.81068  1378.49032   954.23575  1161.88430
2   769.82869   758.32657  1206.91773  1313.34211   912.34156   955.97079
3   407.75925   479.99914   566.66809   513.15472   478.04388   615.70617
4   426.32899   476.98787   433.50170   532.45644   436.96269   554.82147

         tn_5        tn_6        tn_7        tn_8        tn_9       tn_10  \
0  1470.41009  1150.79169  1293.89788  1251.28462  1856.83534  1043.76470
1   977.40239  1033.82845  1103.39191   999.20934   966.86044   712.00087
2   656.22700   660.73323   784.35885   765.47838   778.55594   788.30749
3   515.20419   468.15260   865.28861   748.44391   862.19361   588.56272
4   526.38149   554.57063   707.59267   691.53246   765.98901   506.25385

        tn_11
0  1169.07532
1   984.80167
2   907.56304
3   470.33785
4   469.29224

Variables independientes (X): (33, 12)
Variable dependiente (y): (33,)

Valores nulos en X: 0
Valores nulos en y: 0

==================================================
MODELO ENTRENADO EXITOSAMENTE
==================================================

MÉTRICAS DEL MODELO:
R² Score: 0.9883
MSE: 954.9393
RMSE: 30.9021
MAE: 21.0201

COEFICIENTES DE LA REGRESIÓN:
Intercepto: 0.4415

Coeficientes ordenados por importancia:
  tn_1:     0.2366
  tn_2:     0.1782
  tn_4:    -0.1619
  tn_6:     0.1519
  tn_8:     0.1428
 tn_10:     0.1192
  tn_9:     0.1038
 tn_11:     0.0737
  tn_3:    -0.0600
  tn_7:     0.0439
  tn_5:    -0.0078
    tn:    -0.0013

ECUACIÓN DE LA REGRESIÓN:
clase = 0.4415 -0.0013*tn +0.2366*tn_1 +0.1782*tn_2 -0.0600*tn_3 -0.1619*tn_4 -0.0078*tn_5 +0.1519*tn_6 +0.0439*tn_7 +0.1428*tn_8 +0.1038*tn_9 +0.1192*tn_10 +0.0737*tn_11

ANÁLISIS DE RESIDUOS:
Media de residuos: 0.000000
Std de residuos: 30.9021
Min residuo: -63.8365
Max residuo: 101.9634

RESULTADOS DETALLADOS:
         Real  Prediccion   Residuo  Residuo_Abs
0   1259.0936   1260.7559   -1.6622       1.6622
1   1043.0135   1015.8098   27.2037      27.2037
2    758.3266    790.1885  -31.8619      31.8619
3    479.9991    503.3870  -23.3879      23.3879
4    476.9879    465.7325   11.2554      11.2554
5    337.7601    296.8907   40.8694      40.8694
6    431.6294    375.0783   56.5511      56.5511
7    308.7106    313.6331   -4.9225       4.9225
8    265.8414    313.3273  -47.4860      47.4860
9    323.6618    357.2310  -33.5692      33.5692
10   219.8852    255.3093  -35.4241      35.4241
11   263.6796    221.1219   42.5577      42.5577
12   277.4936    175.5302  101.9634     101.9634
13   147.8044    158.7916  -10.9871      10.9871
14   156.6256    138.0211   18.6045      18.6045
15   107.6844    129.7587  -22.0744      22.0744
16   173.5600    166.9923    6.5677       6.5677
17   148.1163    171.9563  -23.8400      23.8400
18   157.3998    146.2977   11.1020      11.1020
19   155.3698    185.0392  -29.6695      29.6695
20   133.2194    145.1891  -11.9698      11.9698
21    84.4831    148.3196  -63.8365      63.8365
22   144.5183    122.5691   21.9493      21.9493
23   130.6829    124.7194    5.9635       5.9635
24    58.2678     64.3740   -6.1062       6.1062
25    30.5729     29.1254    1.4475       1.4475
26    31.8703     31.7957    0.0746       0.0746
27    15.7357     15.5077    0.2280       0.2280
28     6.8704      6.6736    0.1968       0.1968
29     4.3032      4.0148    0.2885       0.2885
30     4.6634      4.6977   -0.0343       0.0343
31     2.3673      2.3641    0.0031       0.0031
32     2.5385      2.5332    0.0053       0.0053

✅ ENTRENAMIENTO COMPLETADO
✅ Archivos guardados: resultados_entrenamiento.csv, coeficientes_modelo.csv

El modelo está listo para hacer predicciones con nuevos datos.

In [17]:
drive_base_path = 'datan/'
filename = 'productos_a_predecir.txt'
filepath = os.path.join(drive_base_path, filename)
p780 = pd.read_csv(filepath)

In [18]:
query = """
SELECT * 
FROM productos 
WHERE productos.periodo = 201912
ORDER BY productos.product_id;
"""

In [19]:
duckdb.register('resultado_producto', resultado_prod)
resultado_apredecir = duckdb.query(query).to_df()

In [20]:
resultados_filtrados = resultado_apredecir[resultado_apredecir['product_id'].isin(p780['product_id'])]

In [21]:
query = """
SELECT * 
FROM productos 
WHERE productos.meses_con_datos = 12
ORDER BY productos.product_id;
"""

In [22]:
duckdb.register('productos', resultados_filtrados)
resultado_12m = duckdb.query(query).to_df()

In [23]:
X = resultado_12m[['tn', 'tn_1', 'tn_2', 'tn_3', 'tn_4', 'tn_5', 'tn_6', 
              'tn_7', 'tn_8', 'tn_9', 'tn_10', 'tn_11']]
y_pred = modelo.predict(X)

In [24]:
prediccion = pd.DataFrame({
    'product_id': resultado_12m['product_id'],  # Tomar del DataFrame existente
    'tn': y_pred                        # Array de predicciones
})

In [25]:
# Encontrar product_id que están en resultados_filtrados pero NO en prediccion
product_ids_faltantes = resultados_filtrados[
    ~resultados_filtrados['product_id'].isin(prediccion['product_id'])
]['product_id'].tolist()

In [26]:
# Extraer las medias de 12 meses para los product_id faltantes
medias_faltantes = resultados_filtrados[
    resultados_filtrados['product_id'].isin(product_ids_faltantes)
][['product_id', 'media_movil_12m']].copy()

In [27]:
predicciones_faltantes = pd.DataFrame({
    'product_id': medias_faltantes['product_id'],
    'tn': medias_faltantes['media_movil_12m']
})

In [28]:
prediccion_completa = pd.concat([
    prediccion,                    # Predicciones del modelo
    predicciones_faltantes         # Predicciones con media_12meses
], ignore_index=True)

In [29]:
prediccion_completa

     product_id           tn
0         20001  1162.707525
1         20002  1183.640604
2         20003   684.763931
3         20004   580.484961
4         20005   563.560780
..          ...          ...
775       21252     0.178011
776       21265     0.089541
777       21266     0.094659
778       21267     0.092835
779       21276     0.045447

[780 rows x 2 columns]

In [ ]:
prediccion_completa.to_csv('regresion_pred_201912.csv',index=False)

In [ ]:
resultado_diciembre=resultado_producto[resultado_producto['periodo'] == 201912]

In [ ]:
resultado_diciembre

In [ ]:
prediccion_con_real = prediccion_completa.merge(
   resultado_diciembre[['product_id', 'tn']], 
   on='product_id', 
   how='left'
).rename(columns={'tn_x': 'pred', 'tn_y': 'real'})

In [ ]:
prediccion_con_real

In [ ]:
# Calcular Total Forecast Error con tu dataframe
total_forecast_error = np.sum(np.abs(prediccion_con_real['real'] - prediccion_con_real['pred'])) / np.sum(prediccion_con_real['real']) * 100

print(f"Total Forecast Error: {total_forecast_error:.2f}%")

# Verificar datos válidos
print(f"Productos analizados: {len(prediccion_con_real)}")
print(f"Productos con datos reales: {prediccion_con_real['real'].notna().sum()}")